<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card card-edit">
                <div class="card-body">
                    <form action="/workshop/edit/{{workshop.id}}" method="POST">
                    <div class="form-group p-2">
                        <input type="text" value="{{workshop.tittle}}" class="form-control" name="tittle" placeholder="Titulo" autofocus>
                    </div>
                    
                    <div class="form-group p-2">
                        <input type="text" value="{{workshop.address}}" class="form-control" name="address" placeholder="Direcci贸n">
                    </div>
                     <div class="form-group p-2">
                        <input type="text" value="{{workshop.phone}}" class="form-control" name="phone" placeholder="Celular" autofocus>
                    </div>
                     <div class="form-group p-2">
                        <input type="text" value="{{workshop.schedule}}" class="form-control" name="schedule" placeholder="Horarios de atenci贸n" autofocus>
                    </div>
                    <div class="form-group p-2">
                        <input type="text" value="{{workshop.url}}" class="form-control" name="url" placeholder="Ubicaci贸n" autofocus>
                    </div>
                    <div class="form-group p-2">
                        <textarea name="description" rows="2" class="form-control" placeholder="Descripci贸n">{{workshop.description}}</textarea>
                    </div>
                    <dv class="form-group">
                        <button class="btn btn-success btn-block">
                            Guardar
                        </button>
                    </dv>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>